* {
    font-size: 20px;
}

body {
    background-color: rgb(242, 245, 242);
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

h1 {
    background-color: beige;
    color: rgb(51, 37, 138);
    text-align: center;
    font-size: 300%;
    border-bottom: 6px solid rgb(10, 109, 94);
}

h2 {
    color: darkolivegreen;
    font-size: 150%;
    border-style: dashed;
    display: inline;
}

p {
    
    text-align: justify;
}

#intro {
    border: 1px solid #ccc;
    color: rgb(194, 233, 220);
    border-style:
        dashed;

}

.links {
    width: block;
}

Input[type="text"] {
    font-size: 14px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;

}

nav {
    border-style: solid;
    border-color: #e65d5d #6262e8;
    border-radius: 12px;
    padding: 5px;
    display: inline-flex;
}
td {
    text-align: center;
}
